<section class="parallax">
    <div class="parallax__body">
        <div class="parallax__container container">
            <header class="header">
                <div class="logo">
                    MNTN
                </div>
                <nav class="header__navigation">
                    <ul class="navigation-wrapper">
                        <li class="navigation-item"><a href="#">Equipment</a></li>
                        <li class="navigation-item"><a href="#">About us</a></li>
                        <li class="navigation-item"><a href="#">Blog</a></li>
                    </ul>
                </nav>
                <a href="#" class="login">
                    <div class="avatar"><img src="./assets/images/avatar.svg" alt=""></div>
                    <div>Account</div>
                </a>
            </header>
            <div class="hero__wrapper">
                <div class="parallax__label">A Hiking guide</div>
                <div class="parallax__title">Be prepared for the Mountains and beyond!</div>
            </div>
            <div></div>
        </div>
        <div class="parallax__images images-parallax">
            <div class="images-parallax__item">
                <div class="images-parallax__mount"></div>
            </div>
            <div class="images-parallax__item">
                <div class="images-parallax__human"></div>
            </div>
            <div class="images-parallax__item">
                <div class="images-parallax__overlay"></div>
            </div>
        </div>
    </div>
</section>